.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: $color-blue-opacity;

  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;

  &--opened {
    @include vp-1199 {
      height: auto;
      position: fixed;
      left: 50%;
      top: 0;
      width: 100%;
      background-color: $color-default-white;
      color: $color-default-black;
      z-index: 4;
    }
  }

  &--nojs {
    @include vp-1199 {
      position: static;
      transform: none;
      background-color: $color-default-white;
      color: $color-default-black;
    }
  }
}
