.training {
  position: relative;
  width: 100%;
  background-color: $color-default-white;
  color: $color-default-black;

  &::before {
    position: absolute;
    content: "";
    width: 9%;
    height: 1px;
    background-color: $color-navy-blue;
    opacity: 0.2;
    bottom: 94.5px;
    left: 0;

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 8.35%;
    height: 1px;
    background-color: $color-navy-blue;
    opacity: 0.2;
    right: 0;
    bottom: 94.5px;

    @include vp-1199 {
      display: none;
    }
  }
}

.training__wrapper {
  width: 1200px;

  display: flex;
  flex-direction: column;

  padding: 6px 0 88px 0;
  margin: 0 auto;

  @include vp-1199 {
    width: 678px;

    padding: 0 0 90px 0;
  }

  @include vp-767 {
    width: 100%;

    padding: 8px 0 0 0;
  }
}

.training__wrapper h2 {
  position: relative;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;

  margin: 0;
  padding: 0 0 31px 0;

  word-break: break-all;

  @include vp-1199 {
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;

    padding: 5px 0 21px 0;
  }

  @include vp-767 {
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;

    padding: 0 0 18px 0;

    z-index: 3;
  }

  &::after {
    position: absolute;
    content: "Обучение";
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 55px;
    opacity: 0.03;

    top: -19px;
    left: 0;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;

      top: -15px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      top: -6px;
    }
  }
}

.training__wrapper p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 820px;

  margin: 0;
  padding: 0 0 50px 0;

  z-index: 2;

  @include vp-1199 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 560px;

    padding: 0 0 56px 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;

    z-index: 3;

    padding: 0 0 37px 0;
  }
}

.training__coaches {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    width: 290px;
  }
}

.training__coaches-header {
  position: relative;
  display: flex;
  z-index: 3;
}

.training__coaches-header h3 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;

  margin: 0;
  padding: 7px 0 42px 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;

    padding: 9px 0 31px 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;

    padding: 9px 0 34px 0;
  }
}

.training__button-wrapper {
  grid-column: 4 / 5;
  grid-row: 1 / 2;

  justify-self: end;
  margin: 0 2px 0 auto;

  @include vp-1199 {
    margin: 0 0 0 auto;
  }

  @include vp-767 {
    margin: 0 0 0 auto;
  }
}

.training__slider-wrapper {
  height: auto;

  grid-column: 1 / -1;
  grid-row: 2 / 3;

  padding: 0 0 49px 0;

  @include vp-1199 {
    padding: 0 0 43px 0;
  }

  @include vp-767 {
    padding: 0 0 37px 0;
  }
}

.training__process {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    padding: 0 0 0 3px;
  }
}

.training__process h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;

  margin: 0;
  padding: 0 0 42px 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;

    padding: 0 0 40px 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;

    padding: 0 0 28px 0;
  }
}

.training__process-list {
  display: grid;
  grid-template-columns: 308px 307px 308px 277px;
  grid-auto-flow: dense;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 355px auto;
    grid-template-rows: minmax(66px, auto) auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.training__process-list-item {
  flex: 1;
  gap: 26px;
  justify-content: flex-end;

  @include vp-1199 {
    gap: 10px;
  }

  @include vp-767 {
    gap: 0;
    display: flex;
    flex-direction: row-reverse;

    min-height: 61px;
  }
}

.training__process-list-item--boots {
  @include vp-767 {
    padding: 0;
    align-self: flex-start;
  }
}

.training__process-list-item--pine {
  @include vp-1199 {
    grid-column-start: 2;
    flex-direction: column-reverse;

    gap: 12px;
  }

  @include vp-767 {
    gap: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    min-height: 60px;
  }
}

.training__process-list-item--mountain {
  @include vp-1199 {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  @include vp-767 {
    flex-direction: row-reverse;
    min-height: 54px;
    justify-content: flex-end;
  }
}

.training__process-list-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 15px;

  @include vp-1199 {
    grid-column: span 1;
    grid-row: span 1;
  }

  @include vp-767 {
    padding: 0;
    align-self: start;
    justify-self: start;
    gap: 12px;
  }
}

.training__process-list-item p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  padding: 0;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
    padding: 0;
  }
}

.training__process-icon {
  color: $color-default-black;
  min-width: 24px;
  min-height: 24px;

  @include vp-767 {
    min-height: 19px;
    min-width: 19px;
    max-width: 19px;
    max-height: 19px;
  }
}
