.audio-player {
  position: absolute;
  right: 0;
  top: 120px;
  width: 340px;
  height: 220px;

  @include vp-1199 {
    position: static;
    margin: 0 auto 210px auto;
  }

  @include vp-767 {
    display: none;
  }
}

.audio-player iframe {
  border: none;
}
