.btn {
  display: inline-flex;
  padding: 21px 10px;
  justify-content: center;
  align-items: center;

  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: $fz-default;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;

  transition: opacity $trans-default;

  @include vp-767 {
    @include hover {
      padding: 17px 9px;
    }

    @include active {
      padding: 18px 10px;
    }
  }

  @include hover-focus {
    padding: 20px 10px;
    border: 1px solid $color-resolution-blue;

    color: $color-resolution-blue;
    background-color: $color-default-white;
    outline: none;

    cursor: pointer;
  }

  @include active {
    padding: 21px 10px;
    border: none;

    color: $color-default-white;
    background-color: $color-resolution-blue;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }

  &--arrow {
    padding: 13px 11px 13px 12px;

    cursor: pointer;

    @include hover-focus {
      padding: 12px 10px 12px 11px;
      cursor: pointer;
      color: $color-resolution-blue;
    }

    @include active {
      padding: 12px 10px 12px 11px;
      color: $color-default-white;
      background-color: $color-resolution-blue;
      cursor: pointer;
    }

    &:disabled {
      color: $color-default-white;
      opacity: 1;
      background-color: $color-blue-opacity;
    }
  }

  &--link {
    gap: 12px;

    padding: 0;

    color: $color-default-black;

    background-color: transparent;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: $fz-default;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;

    transition: opacity $trans-default;

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.56px;
    }

    @include hover-focus {
      padding: 0;
      color: $color-resolution-blue;
      border: none;
    }

    @include active {
      padding: 0;
      color: $color-navy-blue;
      border: none;
    }

    &:disabled {
      padding: 0;
      color: $color-blue-opacity;
    }
  }

  &--icon {
    display: inline-flex;
    padding: 10px 6px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    color: $color-default-black;

    background-color: transparent;
    border: 1px solid $color-elephant-opacity;
    cursor: pointer;

    transition: opacity $trans-default;

    @include hover-focus {
      border: 1px solid $color-elephant;
      padding: 10px 6px;
    }

    @include active {
      padding: 10px 6px;
      color: $color-default-white;
      background-color: $color-navy-blue;
      border: 1px solid $color-navy-blue;
    }
  }

  &--menu-link-dark {
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 3px 5px;
    background-color: transparent;
    color: $color-default-white;

    @include hover {
      padding: 3px 5px 2px 5px;
      border: none;
      border-bottom: 1px solid $color-default-white;
      background-color: transparent;
      color: $color-default-white;
    }

    @include focus {
      padding: 3px 5px 2px 5px;
      border: none;
      outline: 1px solid $color-default-white;
      background-color: transparent;
      color: $color-default-white;
    }

    @include active {
      padding: 3px 5px;
      border: none;
      background-color: transparent;
      color: $color-default-white;
    }

    &:disabled {
      color: $color-white-opacity;
    }
  }

  &--menu-link-light {
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 3px 5px;
    background-color: transparent;
    color: $color-default-black;

    @include hover {
      padding: 3px 5px 2px 5px;
      border: none;
      border-bottom: 1px solid $color-default-black;
      background-color: transparent;
      color: $color-default-black;
    }

    @include focus {
      padding: 3px 5px 2px 5px;
      border: none;
      outline: 1px solid $color-default-black;
      background-color: transparent;
      color: $color-default-black;
    }

    @include active {
      padding: 3px 5px 2px 5px;
      border: none;
      background-color: transparent;
      color: $color-default-black;
    }

    &:disabled {
      color: $color-black-opacity;
    }
  }
}
