.nav {
  width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 205px 1fr 142px;

  column-gap: 133px;
  row-gap: 30px;

  padding: 40px 0 20px 0;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0 25px 0;
    width: 100%;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 0;
    gap: 6px;
    width: 100%;
    margin: 0 auto 0 0;
  }

  &--open {
    gap: 0;

    @include vp-1199 {
      padding: 30px 0 0 0;
      grid-template-columns: 1fr 144px 1fr;
      margin: 0;
      width: 100%;
      overflow-y: scroll;
    }

    @include vp-767 {
      grid-template-columns: 1fr 112px;
      padding: 15px 0 0 0;
    }
  }
}

.nav__button {
  display: none;

  @include vp-1199 {
    display: block;
    grid-row: 1 / -1;
    width: 23px;
    height: 23px;

    box-sizing: content-box;

    background-color: transparent;
    border: none;
    padding: 11px 0;
    color: $color-default-white;

    cursor: pointer;
  }

  @include vp-767 {
    grid-row: 1 / 3;
    padding: 0;
    align-self: flex-start;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;

  list-style-type: none;

  padding: 0;
  margin: 0;

  @include vp-1199 {
    display: none;
  }
}

.nav__link {
  word-break: break-all;
}

.nav__tel {
  color: $color-default-white;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  align-self: center;

  @include vp-1199 {
    grid-row: 1 / -1;
    margin-left: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  @include vp-767 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-white-disabled;
  }
}

.nav__list--close {
  @include vp-1199 {
    display: none;
  }

  @include vp-767 {
    display: none;
  }
}

.nav__list--open {
  @include vp-1199 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-default-black;

    gap: 26px;
    padding: 0;
    margin: 50px 0 70px 0;
    list-style-type: none;
  }

  @include vp-767 {
    margin: 28px 0 50px 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    gap: 22px;
  }
}

.nav__link--opened {
  @include vp-1199 {
    color: $color-default-black;
    font-family: inherit;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.nav__button-close-icon {
  @include vp-1199 {
    display: none;
    grid-column: 1 / 2;

    color: $color-default-black;
  }
}

.nav__button-open-icon {
  @include vp-1199 {
    display: block;
    grid-column: 1 / 2;

    color: $color-default-white;
  }
}

.nav__tel--close {
  color: $color-default-white;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-blue-opacity;
  }
}

.nav__tel--open {
  color: $color-elephant;

  @include vp-1199 {
    grid-column: 3 / 4;
  }

  @include vp-767 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 8px 0 0 2px;
  }

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-blue-opacity;
  }
}

.nav__list-item {
  display: inline-flex;

  @include vp-767 {
    font-size: 14px;
  }
}
