.photo-cards {
  display: flex;

  @include vp-1199 {
    justify-content: center;
    margin: 0 0 40px 0;
  }

  @include vp-767 {
    display: none;
  }
}

.photo-cards__image {
  position: absolute;

  @include vp-1199 {
    position: static;
  }

  &--first {
    width: 308px;
    height: 407px;
    bottom: 192px;
    right: 102px;

    @include vp-1199 {
      height: 351px;
      width: 266px;
      transform: translate(35px, -16px);
    }
  }

  &--second {
    width: 277px;
    height: 366px;
    bottom: 140px;
    right: 0;

    @include vp-1199 {
      width: 236px;
      height: 312px;
      transform: translate(-24px, 39px);
    }
  }
}
