.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style-type: none;

  gap: 15px;

  @include vp-1199 {
    margin: 16px 0 0 0;
  }

  @include vp-767 {
    margin: 7px auto 0 5px;
    justify-content: flex-start;
  }
}
