.tour-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: $black-to-top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 380px;
  min-height: 412px;

  padding: 30px 20px;

  color: $color-default-white;

  @include vp-1199 {
    max-width: 324px;
    padding: 28px 20px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 25px 20px;
  }

  &--elbrus {
    background-image: url("../img/elbrus-desktop@1x.webp");

    @include vp-1199 {
      background-image: url("../img/elbrus-tablet@1x.webp");

      @include retina {
        background-image: url("../img/elbrus-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/elbrus-mobile@1x.webp");

      @include retina {
        background-image: url("../img/elbrus-mobile@2x.webp");
      }
    }

    @include retina {
      background-image: url("../img/elbrus-desktop@2x.webp");
    }
  }

  &--altay {
    background-image: url("../img/beluha-desktop@1x.webp");

    @include vp-1199 {
      background-image: url("../img/beluha-tablet@1x.webp");

      @include retina {
        background-image: url("../img/beluha-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/beluha-mobile@1x.webp");

      @include retina {
        background-image: url("../img/beluha-mobile@1x.webp");
      }
    }

    @include retina {
      background-image: url("../img/beluha-desktop@2x.webp");
    }
  }

  &--fisht {
    background-image: url("../img/fisht-desktop@1x.webp");

    @include vp-1199 {
      background-image: url("../img/fisht-tablet@1x.webp");

      @include retina {
        background-image: url("../img/fisht-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/beluha-mobile@1x.webp");

      @include retina {
        background-image: url("../img/beluha-mobile@2x.webp");
      }
    }

    @include retina {
      background-image: url("../img/fisht-desktop@2x.webp");
    }
  }
}

.tour-card__about-wrapper {
  display: flex;
  gap: 41px;

  color: $color-default-white;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;

  margin: 0 0 22px 0;

  @include vp-1199 {
    gap: 20px;

    margin: 0 0 24px 0;
  }

  @include vp-767 {
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr;

    margin: 0 0 15px 0;
  }
}

.tour-card__location {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  padding: 9px 24px;

  background-color: $color-navy-blue;

  word-break: break-all;

  @include vp-1199 {
    padding: 9px 23px 8px 15px;
  }

  @include vp-767 {
    grid-row: 2 / 3;
    padding: 9px 22px 9px 16px;
  }
}

.tour-card__days-length {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  max-width: 78px;
  word-break: break-all;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.tour-card__nights-length {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  max-width: 78px;
  word-break: break-all;

  @include vp-767 {
    justify-content: flex-start;

    margin-left: -18px;
  }
}

.tour-card h3 {
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  margin: 0;
  padding: 0 0 38px 0;

  word-break: break-all;

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;

    padding: 0 0 30px 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: $color-default-white;
    opacity: 0.2;

    left: 0;
    bottom: 20px;

    @include vp-767 {
      bottom: 15px;
    }
  }
}

.tour-card__info-wrapper {
  display: flex;
  gap: 55px;

  @include vp-1199 {
    gap: 29px;
  }

  @include vp-767 {
    gap: 10px;
  }
}

.tour-card__info-wrapper dl {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;

  @include vp-1199 {
    gap: 4px;
  }
}

.tour-card__info-wrapper dt {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  word-break: break-all;
}

.tour-card__info-wrapper dd {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  word-break: break-all;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.tour-card__stars {
  display: flex;
}

.tour-card--altay .tour-card__about-wrapper {
  gap: 41px;

  @include vp-1199 {
    gap: 18px;
  }
}

.tour-card--altay .tour-card__days-length {
  gap: 8px;
}

.tour-card--altay .tour-card__nights-length {
  gap: 8px;
}

.tour-card--fisht .tour-card__about-wrapper {
  gap: 36px;

  @include vp-1199 {
    gap: 17px;
  }

  @include vp-767 {
    gap: 15px;
  }
}

.tour-card--fisht .tour-card__days-length {
  gap: 10px;
  margin-right: 5px;

  @include vp-1199 {
    gap: 10px;
    margin: 0;
  }
}

.tour-card--fisht .tour-card__nights-length {
  gap: 10px;

  @include vp-1199 {
    gap: 8px;
  }
}

.tour-card__info-wrapper .tour-card__group {
  @include vp-767 {
    margin-left: 5px;
  }
}

.tour-card--altay .tour-card__info-wrapper {
  @include vp-1199 {
    gap: 27px;
  }

  @include vp-767 {
    gap: 12px;
  }
}

.tour-card--fisht .tour-card__info-wrapper {
  @include vp-1199 {
    gap: 25px;
  }

  @include vp-767 {
    gap: 12px;
  }
}
